einops==0.7.0
geopandas==0.13.2
geodataset @ git+ssh://git@github.com/hugobaudchon/geodataset.git@b644bc6a0e71f4a9b888819ead2fbf9cbe5b2449
laspy==2.5.3
numpy==1.25.0
pandas==2.2.0
PyYAML==6.0.1
rasterio==1.3.7
shapely==2.0.1
torch==2.0.1
torchvision==0.15.2
torchmetrics==1.3.0.post0
tqdm==4.65.0
xmltodict==0.13.0

