einops==0.7.0
geopandas==0.13.2
geodataset @ git+ssh://git@github.com/hugobaudchon/geodataset.git@9ecef8dc44414c1a2655d4b42bf7569b0dbf3d1b
laspy==2.5.3
numpy==1.25.0
pandas==2.2.0
PyYAML==6.0.1
rasterio==1.3.7
shapely==2.0.1
torch==2.0.1
torchvision==0.15.2
torchmetrics==1.3.0.post0
tqdm==4.65.0
xmltodict==0.13.0

